实验步骤：
(1) 在力、热、声、光、电类演示实验仪器中选择相关实验装置；
(2) 按下绿色电源键或其他启动键，仔细观察实验现象（课程结束时关闭电源）；
(3) 在其中选择一个或一组相关的实验（3个左右）；
(4) 通过调节参数、改变实验方法、改变观察视角等方式，全面观察演示现象并通过手机拍摄记录一组照片或视频；
(5) 通过记录的照片或视频撰写一份实验现象和原理报告。

实验要求：
实验原理、仪器等：以自主设计报告为内容；
数据处理：图文并茂（普通打印照片）的实验现象和原理报告；
误差分析：实验观测存在的问题，例如现象不清晰、观察视角、调节等；
心得体会：对演示意义的探讨，对课程的反馈；
原始数据：拍摄照片给老师查看、老师签字。

实验思考：
对演示实验意义的探讨

实验拓展：
结合自己的兴趣爱好和专业知识设计一个简单易行的演示实验装置？

